@use "./variables" as *;

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    nav {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        padding: 20px 80px;
        background: linear-gradient(to bottom, rgba(202, 160, 113), rgba(243, 215, 154));

        @media (max-width:1024px) {
            padding: 10px 20px;
        }

        @media (max-width:640px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .foot_logo {
            font-family: $family-2p;
            font-size: 1.5rem;
            color: $c_22;
        }

        ul {
            display: flex;
            gap: 30px;

            @media (max-width:1024px) {
                gap: 15px;
            }

            @media (max-width:640px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            li {
                a {
                    color: $c_22;
                    font-size: 1rem;
                }
            }
        }

        div {
            display: flex;
            gap: 30px;

            @media (max-width:1024px) {
                gap: 15px;
            }
            
            a {
                img {
                    width: 35px;
                    height: 35px;
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }

    small {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $c_db;
        padding: 10px;
        width: 100%;
        color: $c_yw;
    }
}