@use "./variables" as *;

.homeMain {
    background: linear-gradient(to bottom, rgb(229, 248, 255, .1), rgb(116, 201, 231, .5)), url("/bg_1.webp") center/cover no-repeat;
    overflow: hidden;

    .tiH2 {
        font-size: 3rem;
        font-weight: $fw7;
        color: $c_rd;
        letter-spacing: .8rem;
        border-bottom: $c_rg 3px solid;
    }

    .tiP {
        font-size: 1.8rem;
        font-weight: $fw7;
        color: $c_rl;
        letter-spacing: 1.5rem;
    }

    .top {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 950px;
        width: 100%;

        .top1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 75px;
            // gap: 100px;
            width: 80%;

            h2 {
                color: $c_rl;
                font-size: clamp(2.8rem, 3.5vw, 4rem);
                font-weight: $fw7;
                // white-space: nowrap;
                padding-left: clamp(.7rem, 1vw, 1.2rem);
                letter-spacing: clamp(.7rem, 1vw, 1.2rem);
            }

            .h_me {
                all: unset;
                position: relative;
                // width: 330px;
                min-height: 545px;
                transform: scale(0.85);
                transform-origin: bottom center;
                pointer-events: auto;
                // display: flex;
                // justify-content: center;
                // align-items: flex-end; // 角色貼底部

                .me {
                    position: relative; // 改成相對定位，讓它參與排版
                    width: 100%;
                }
            }
        }

        .notToy {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-image: url('/decorate_3.webp');
                width: 50px;
                height: 100px;
                background-size: contain;
                background-repeat: no-repeat;
                top: 35%;
                left: -20%;
            }

            h2 {

                font-size: 6rem;
                font-weight: $fw7;
                padding-left: 3rem;
                letter-spacing: 3rem;
                line-height: normal;
                color: #FEF2BD;
                // -webkit-text-stroke: #D0955B 3px;
                text-shadow:
                    -5px -5px 0 #D0955B,
                    5px -5px 0 #D0955B,
                    -5px 5px 0 #D0955B,
                    5px 5px 0 #D0955B;
            }

            p {
                font-size: 2.5rem;
                font-weight: $fw7;
                color: $c_rd;
                padding-left: .8rem;
                letter-spacing: .8rem;
            }

            img {
                width: 40%;
                margin: 10px 0;
                animation: arrow 2.5s ease-in-out;
                animation-iteration-count: infinite;
            }
        }

        .decorate {
            position: absolute;
            width: 20%;

            &.dec1 {
                top: 7%;
                left: -1%;
            }

            &.dec2 {
                bottom: -8%;
                right: -2%;
            }
        }
    }

    @keyframes arrow {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .portfolio {
        // position: relative;
        width: 100%;
        height: 918px;
        background-image: url('/bg_2.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 180px;

        .portTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding-top: 60px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-image: url('/decorate_3_2.webp');
                width: 50px;
                height: 100px;
                background-size: contain;
                background-repeat: no-repeat;
                top: 15%;
                right: -20%;
            }

            h2 {

                padding-left: calc(.8rem + 40px);
                padding-right: 40px;

            }

            p {
                padding-left: 1.5rem;
            }
        }

        .portOut {
            max-width: 1300px;
            display: flex;
            justify-content: center;
            width: 90%;
            gap: 100px;

            .portCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                height: auto;

                .card {
                    flex: 1;
                    width: 100%;
                    min-width: 250px;
                    height: auto;
                    aspect-ratio: 3/ 3.5; // 固定長寬比例
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border: 4px solid rgba($c_y, .3);
                    background-color: rgba($c_yl, .15);
                    border-radius: 16px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    position: relative;

                    &.dino {
                        background-image: url("/compression/tyrannosaurus2.webp");
                    }

                    &.bird {
                        background-image: url("/compression/bird.webp");
                    }

                    &.lcd {
                        background-image: url("/compression/LCD.webp");
                    }

                    .level {
                        position: relative;
                        display: flex;
                        gap: 2px;
                        left: 2%;
                        bottom: -4%;

                        img {
                            width: 35px;
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        font-size: 1.4rem;
                        font-family: $family-stick;
                        background-color: $c_yw;
                        box-shadow: 4px 4px 0 0 rgba($c_y , .9);
                        right: -6%;
                        bottom: -4%;
                        gap: 3px;
                        color: $c_33;
                        padding: 0 8px;

                        img {
                            width: 12px;
                            height: auto;
                        }
                    }
                }

                p {
                    padding: 0 30px;
                    line-height: 150%;
                    color: $c_33;
                    display: flex;
                    align-items: flex-start;
                }
            }
        }
    }

    .coner {
        background: linear-gradient(to bottom, rgb(116, 201, 231, .1), rgb(116, 201, 231, .3), rgb(229, 248, 255, .7));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
        gap: 60px;
        padding: 0 180px;

        .conTiBox {
            width: 100%;
            display: flex;
            justify-content: left;
            padding-left: 50px;

            .conTitle {
                display: flex;
                flex-direction: column;
                align-items: start;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    background-image: url('/decorate_3_3.webp');
                    width: 50px;
                    height: 100px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: 17%;
                    left: -20%;
                }

                h2 {
                    padding-right: 160px;
                }
            }
        }

        .conOut {
            max-width: 1300px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 90%;
            gap: 100px;

            .conBox {
                display: flex;
                flex-direction: column;
                align-items: center;

                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 360px;
                    height: 250px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: top center;
                    padding: 7% 5% 18%;

                    h3 {
                        font-size: 1.5rem;
                        font-weight: $fw7;
                        color: $c_22;
                        letter-spacing: .5rem;
                        padding-left: .5rem;
                        white-space: nowrap;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: $fw5;
                        color: $c_22;
                        letter-spacing: .4rem;
                        padding-left: .4rem;
                        margin: 0 10px;
                    }
                }
            }

            .conBox1 {
                .box1_1 {
                    background-image: url('/bub1.webp');
                }

                img {
                    width: 60%;
                }
            }

            .conBox2 {
                height: auto;

                .box2_1 {
                    background-image: url('/bub3.webp');
                }

                .box2_2 {
                    display: flex;
                    gap: 30px;
                    align-items: end;

                    img {
                        width: 80px;
                        height: auto;
                    }
                }
            }

            .conBox3 {

                .box3_1 {
                    background-image: url('/bub2.webp');
                }

                img {
                    width: 90%;
                    transform: scaleX(-1);
                }
            }
        }

        .toCor {
            display: flex;
            align-items: center;
            background-color: $c_bw;
            font-family: $family-stick;
            color: $c_33;
            font-size: 1.4rem;
            box-shadow: 4px 4px 0 0 rgba($c_b , .9);
            gap: 3px;
            padding: 0 8px;

            img {
                width: 12px;
                height: auto;
            }
        }
    }

    .myJourney {
        background: linear-gradient(to bottom, rgb(229, 248, 255, .7), rgb(116, 201, 231, .2)15%, rgb(116, 201, 231, .1));
        height: 1000px;
        display: flex;
        align-items: end;

        .jouBg {
            background-image: url("/bg_9.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            width: 100%;
            height: 900px;
            padding: 0 180px;
            display: flex;
            flex-direction: column;
            align-items: end;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-image: url('/me.webp');
                width: 130px;
                height: 270px;
                background-size: contain;
                background-repeat: no-repeat;
                top: 55%;
                left: 30%;
            }

            .jouTiBox {
                width: 100%;
                display: flex;
                justify-content: right;
                padding-right: 50px;
                padding-bottom: 60px;

                .jouTitle {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        background-image: url('/decorate_3_4.webp');
                        width: 50px;
                        height: 100px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        top: 17%;
                        right: -20%;
                    }

                    h2 {
                        padding-left: 200px;
                    }
                }
            }

            .jouText {
                display: flex;
                flex-direction: column;
                background-color: rgba($c_yl, .7);
                border: rgba($c_y, .5) solid 4px;
                border-radius: 16px;
                padding: 20px;
                margin-right: 50px;
                justify-content: center;
                text-align: center;
                position: relative;
                gap: 20px;

                p {
                    color: $c_22;
                }

                .text1 {
                    line-height: 200%;
                    font-size: 1rem;
                    letter-spacing: .3rem;
                    padding-left: .3rem;
                }

                .text2 {
                    font-size: 1.2rem;
                    font-weight: $fw7;
                    letter-spacing: .4rem;
                    padding-left: .4rem;
                }

                a {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    font-size: 1.4rem;
                    font-family: $family-stick;
                    background-color: $c_yw;
                    box-shadow: 4px 4px 0 0 rgba($c_y , .9);
                    right: -4.2%;
                    bottom: -5.5%;
                    gap: 3px;
                    color: $c_33;
                    padding: 0 8px;

                    img {
                        width: 12px;
                        height: auto;
                    }
                }
            }
        }
    }
}