.myBox {
    // position: relative; // 改為 relative，避免覆蓋其他元素
    width: 100%;
    min-height: 100%; // 改為合理的高度
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(229, 248, 255, .1), rgb(116, 201, 231, .5)), url("/bg_1.webp") center/cover no-repeat;
    // z-index: -10;
    pointer-events: none; // 不擋互動

    .me {
        position: absolute;
        // bottom: 220px;
        width: 100%;
    }

    .pixel {
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translateY(-10vh);
        opacity: 0;
        animation: fall 0.8s ease forwards;
        will-change: transform, opacity;
    }

    .allPixel {
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fall {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}