@use "./variables" as *;

.myBox {
    width: 100%;
    min-height: 100%; // 改為合理的高度
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(229, 248, 255, .1), rgb(116, 201, 231, .5)), url("/bg_1.webp") center/cover no-repeat;
    pointer-events: none; // 不擋互動

    @media (max-width:450px) {
        justify-content: start;
        padding: 5px 0;
    }

    .me {
        position: absolute;
        width: 100%;
    }

    .pixel {
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translateY(-10vh);
        opacity: 0;
        animation: fall 0.8s ease forwards;
        will-change: transform, opacity;
    }

    .allPixel {
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translateY(0);
        opacity: 1;
    }

    .progressText {
        position: absolute;
        font-size: 1.5rem;
        font-family: $family-2p;
        letter-spacing: .5rem;
        padding-left: .5rem;
        color: $c_rd;
        text-align: center;
        bottom: 5%;

        @media (max-width:450px) {
            bottom: -.8%;
            background: rgba($c_bw, .5);
        }
    }
}

@keyframes fall {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}