$c_22: #222222;
$c_33: #333333;
$c_db: #4D3F3B;
$c_rice: #F4F1ED;
$c_yw: #FFFEF8;
$c_yl: #FFF5B7;
$c_y: #F6E88D;
$c_bw: #F9FDFF;
$c_bl: #CFF1FF;
$c_b :#91CFEA;
$c_gl: #C1F7DC;
$c_g: #85E2B3;
$c_rd: #5C191C;
$c_rl: #8E4F51;
$c_rw: #C98F84;
$c_rg:#C9AFA7;